@charset "utf-8";

html { width: 100%; height: auto;}
.wrap { margin: 0 auto; width: 1200px; height: auto;}
.main { padding: 100px 40px;}

.title { padding-top: 40px; border-top: 1px solid #bfbfbf;}
.title h1 { font-size: 64px;}
.title p { padding-top: 10px; font-size: 20px;}

.tab { margin: 10px 0; width: 100%; height: 40px; line-height: 40px;}
.tab_inner { text-align: right;}
.tab_inner li { display: inline-block;}
.tab_inner li:not(:last-child)::after { content: "/"; display: inline-block; padding: 0 10px;}
.tab_inner li a { display: inline-block;}

.list { width: 100%; height: auto;}
.list_inner { display: flex; flex-wrap: wrap; justify-content: space-between;}
.list_inner ul { margin-bottom: 16px; width: 32.5%;}
.list_inner ul li { font-family: 'NotoSansCJKkr'; font-weight: 100;}

.item_img { width: 100%; height: 200px; background-color: #eee;}
.item_title { padding: 10px 0; font-size: 18px; font-weight: 400;}
.item_contents { line-height: 140%;}
.item_refer { color: #999;}